<a href="https://colab.research.google.com/github/0402subrahmanyam/Python-New/blob/module-3/File_Handling_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
f=open("C:\\Users\LENOVO\OneDrive\Desktop\dvs.txt", "r")
print(f.read())

gitam deemed to be universitybtech student

In [ ]:
f = open("C:\\Users\LENOVO\OneDrive\Desktop\dvs.txt", "r")
print(f.read(5))

gitam

In [ ]:
f = open("C:\\Users\LENOVO\OneDrive\Desktop\dvs.txt", "r")
print(f.readline())
print(f.readline())

gitam deemed to be university

In [ ]:
f = open("C:\\Users\LENOVO\OneDrive\Desktop\dvs.txt", "r")
for x in f:
  print(x)

gitam deemed to be university

In [ ]:
f = open("C:\\Users\LENOVO\OneDrive\Desktop\dvs.txt", "r")
print(f.readline())
f.close()

gitam deemed to be university

In [ ]:
f = open("C:\\Users\LENOVO\OneDrive\Desktop\dvs.txt", "a")
f.write("btech student")
f.close()
f = open("C:\\Users\LENOVO\OneDrive\Desktop\dvs.txt", "r")
print(f.read())

gitam deemed to be universitybtech student

In [ ]:
##Append a file
f = open("C:\\Users\LENOVO\OneDrive\Desktop\dvs.txt", "a")
f.write("\nand my name is dvs")
f.close()

In [ ]:
##Copy a file
f=open("C:\\Users\LENOVO\OneDrive\Desktop\dvs.txt","r")
b=f.readline()
f.close()
f1=open("C:\\Users\LENOVO\OneDrive\Desktop\dvs.txt","w")
f1.writelines(b)
f1.close()
f2=open("C:\\Users\LENOVO\OneDrive\Desktop\dvs.txt","r")
for i in f2:
    print(i)
f2.close()

gitam deemed to be universitybtech student

In [ ]:
##creating a file
f=open("C:\\Users\LENOVO\OneDrive\Desktop\dvs.txt","r")
f.close()

In [ ]:
import pandas as pd

df = pd.read_csv('C:\\Users\LENOVO\OneDrive\Desktop\Food menu 1.csv')

print(df.to_string())

   s.no lunch (veg) lunch (non veg) tiffins   dinner
0     1    biryani      dum biryani    idly       dal
1     2  fried rice  egg fried rice    dosa     rasam
2     3      paneer         chicken   halva  icecream

In [ ]:
import pandas as nsk
c=[1,7,5,8,3]
z=nsk.Series(c)
print(z)

0    1
1    7
2    5
3    8
4    3
dtype: int64

In [ ]:
import pandas as nsk
c=[1,7.5,8,3]
z=nsk.Series(c)
print(z)

0    1.0
1    7.5
2    8.0
3    3.0
dtype: float64

In [ ]:
import pandas as pd
df = pd.read_csv('C:\\Users\LENOVO\Downloads\Food menu.csv')
new_df = df.dropna()
print(new_df.to_string())

   s.no  marks
0     1   90.0
2     3  100.0

In [ ]:
import pandas as pd
df = pd.read_csv('C:\\Users\LENOVO\OneDrive\Documents\info.csv')
df.fillna(95, inplace = True)
print(df.to_string())

   sno     names  marks
0    1    subbu    93.0
1    2    harsha   95.0
2    3  prabhash   95.0
3    4   sumanth   96.0

In [ ]:
import pandas as pd
df = pd.read_csv('C:\\Users\LENOVO\OneDrive\Documents\info.csv')
for x in df.index:
 if df.loc[x, "marks"] == 93:
   df.loc[x, "marks"] = 98
print(df.to_string())

   sno     names  marks
0    1    subbu    98.0
1    2    harsha   95.0
2    3  prabhash    NaN
3    4   sumanth   96.0

In [ ]:
import pandas as pd
df = pd.read_csv('C:\\Users\LENOVO\OneDrive\Desktop\dob.csv')
df['dob'] = pd.to_datetime(df['dob'])
print(df.to_string())

   sno    names        dob
0    1    subbu 2003-12-21
1    2   harsha 2004-04-11
2    3  koushik 2003-09-18
3    4  sumanth 2003-12-27

In [ ]:
import pandas as pd
a = pd.read_csv('C:\\Users\LENOVO\OneDrive\Desktop\data.csv')
b = pd.DataFrame(a)
print(b)

    s.no      Name  age      mobile         mail  Unnamed: 5 password  \
0      1       Dvs   18  9874581585  **@gitam.in         NaN    *****
1      2    chaitu   18  7780442077  **@gitam.in         NaN    *****
2      3   aravind   17  7780442088  **@gitam.in         NaN   ******
3      4   harsha    17  7780442011  **@gitam.in         NaN    *****
4      5   karthik   17  9875638271  **@gitam.in         NaN    *****
5      6     bhagy   18  8294629163  **@gitam.in         NaN    *****
6      7    nithin   19  2738263826  **@gitam.in         NaN    *****
7      8   sumanth   22  6382936237  **@gitam.in         NaN     ****
8      9      banu   20  3563726372  **@gitam.in         NaN   ******
9     10      puli   20  8982773628  **@gitam.in         NaN    *****
10    11   dhanush   18  9989348838  **@gitam.in         NaN     ****
11    12  prabhas    18  7981769148  **@gitam.in         NaN    *****
12    13     pavan   18  8341287189  **@gitam.in         NaN   ******
13    14   pranav    19  9989368264  **@gitam.in         NaN    *****
14    15     kiran   18  4729346292  **@gitam.in         NaN   ******
15    16     tarun   18  9273461836  **@gitam.in         NaN    *****
16    17     varun   18  8193728361  **@gitam.in         NaN    *****
17    18    sativk   18  9361836173  **@gitam.in         NaN     ****
18    19   jayanth   19  9374683654  **@gitam.in         NaN     ****
19    20   sandeep   19  9163518458  **@gitam.in         NaN    *****
20    21      sai    18  8631458537  **@gitam.in         NaN    *****
21    22    charan   18  9784143538  **@gitam.in         NaN     ****
22    23    mukesh   18  9135926954  **@gitam.in         NaN    *****
23    24    vikey    18  9156359126  **@gitam.in         NaN    *****
24    25      para   18  9641586458  **@gitam.in         NaN    *****
25    26   doremon   18  9162549145  **@gitam.in         NaN   ******
26    27     phani   18  9135693591  **@gitam.in         NaN    *****
27    28    partiv   18  9126551955  **@gitam.in         NaN    *****
28    29     hari    19  1958194192  **@gitam.in         NaN    *****
29    30     surya   19  9495419516  **@gitam.in         NaN    *****

    Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10  Unnamed: 11  Unnamed: 12  \
0          NaN         NaN         NaN          NaN          NaN          NaN
1          NaN         NaN         NaN          NaN          NaN          NaN
2          NaN         NaN         NaN          NaN          NaN          NaN
3          NaN         NaN         NaN          NaN          NaN          NaN
4          NaN         NaN         NaN          NaN          NaN          NaN
5          NaN         NaN         NaN          NaN          NaN          NaN
6          NaN         NaN         NaN          NaN          NaN          NaN
7          NaN         NaN         NaN          NaN          NaN          NaN
8          NaN         NaN         NaN          NaN          NaN          NaN
9          NaN         NaN         NaN          NaN          NaN          NaN
10         NaN         NaN         NaN          NaN          NaN          NaN
11         NaN         NaN         NaN          NaN          NaN          NaN
12         NaN         NaN         NaN          NaN          NaN          NaN
13         NaN         NaN         NaN          NaN          NaN          NaN
14         NaN         NaN         NaN          NaN          NaN          NaN
15         NaN         NaN         NaN          NaN          NaN          NaN
16         NaN         NaN         NaN          NaN          NaN          NaN
17         NaN         NaN         NaN          NaN          NaN          NaN
18         NaN         NaN         NaN          NaN          NaN          NaN
19         NaN         NaN         NaN          NaN          NaN          NaN
20         NaN         NaN         NaN          NaN          NaN          NaN
21         NaN         NaN         NaN          NaN          NaN          NaN
22         NaN         NaN         NaN          NaN          NaN          NaN
23         NaN         NaN         NaN          NaN          NaN          NaN
24         NaN         NaN         NaN          NaN          NaN          NaN
25         NaN         NaN         NaN          NaN          NaN          NaN
26         NaN         NaN         NaN          NaN          NaN          NaN
27         NaN         NaN         NaN          NaN          NaN          NaN
28         NaN         NaN         NaN          NaN          NaN          NaN
29         NaN         NaN         NaN          NaN          NaN          NaN

   Unnamed: 13
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
26         NaN
27         NaN
28         NaN
29         NaN

In [ ]:
import pandas as pd
a = pd.read_csv('C:\\Users\LENOVO\OneDrive\Desktop\data.csv')
a[:10]
a.aggregate({'mobile':['min','max']})

         mobile
min  1958194192
max  9989368264

In [ ]:
import pandas as vk
a = vk.read_csv('C:\\Users\LENOVO\OneDrive\Desktop\data.csv')
a = a.groupby(['Name','mobile'])
print(type(a))
print(vk.DataFrame(a))

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>
                         0                                                  1
0        (Dvs, 9874581585)     s.no Name  age      mobile         mail  Un...
1    (aravind, 7780442088)     s.no     Name  age      mobile         mail...
2       (banu, 3563726372)     s.no  Name  age      mobile         mail  U...
3      (bhagy, 8294629163)     s.no   Name  age      mobile         mail  ...
4     (chaitu, 7780442077)     s.no    Name  age      mobile         mail ...
5     (charan, 9784143538)      s.no    Name  age      mobile         mail...
6    (dhanush, 9989348838)      s.no     Name  age      mobile         mai...
7    (doremon, 9162549145)      s.no     Name  age      mobile         mai...
8      (hari , 1958194192)      s.no   Name  age      mobile         mail ...
9    (harsha , 7780442011)     s.no     Name  age      mobile         mail...
10   (jayanth, 9374683654)      s.no     Name  age      mobile         mai...
11   (karthik, 9875638271)     s.no     Name  age      mobile         mail...
12     (kiran, 4729346292)      s.no   Name  age      mobile         mail ...
13    (mukesh, 9135926954)      s.no    Name  age      mobile         mail...
14    (nithin, 2738263826)     s.no    Name  age      mobile         mail ...
15      (para, 9641586458)      s.no  Name  age      mobile         mail  ...
16    (partiv, 9126551955)      s.no    Name  age      mobile         mail...
17     (pavan, 8341287189)      s.no   Name  age      mobile         mail ...
18     (phani, 9135693591)      s.no   Name  age      mobile         mail ...
19  (prabhas , 7981769148)      s.no      Name  age      mobile         ma...
20   (pranav , 9989368264)      s.no     Name  age      mobile         mai...
21      (puli, 8982773628)     s.no  Name  age      mobile         mail  U...
22      (sai , 8631458537)      s.no  Name  age      mobile         mail  ...
23   (sandeep, 9163518458)      s.no     Name  age      mobile         mai...
24    (sativk, 9361836173)      s.no    Name  age      mobile         mail...
25   (sumanth, 6382936237)     s.no     Name  age      mobile         mail...
26     (surya, 9495419516)      s.no   Name  age      mobile         mail ...
27     (tarun, 9273461836)      s.no   Name  age      mobile         mail ...
28     (varun, 8193728361)      s.no   Name  age      mobile         mail ...
29    (vikey , 9156359126)      s.no    Name  age      mobile         mail...